.gameScreen {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: 100vh;
  background-image: url('../../assets/game_screen_img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Затемнение фона для читаемости контента */

.gameScreen > * {
  position: relative;
  z-index: 1;
}

.container {
  max-width: 1600px;
  width: 100%;
  min-height: 850px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4rem;
}

.imageContainer {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1;
  background: white;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.itemImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.optionsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.optionButton {
  width: 100%;
  max-width: 800px;
  padding: 1.25rem 2rem;
  font-size: 1.1rem;
  text-align: center;
  min-width: auto;
  background: #503E24;
  color: #CBB293;
  text-transform: uppercase;
  border: solid #9b8872 3px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.optionButton:hover{
  background: #CBB495 ;
  color: #503E24;
  border: solid #b69567 3px;
}

@media (max-width: 768px) {
  .gameScreen {
    padding: 1rem;
  }
  
  .imageContainer {
    max-width: 100%;
    padding: 1rem;
  }
  
  .optionButton {
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }
}
