.startScreen {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-height: 100vh;
  background-image: url('../../assets/start_sreen_img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.startScreen .content {
  position: relative;
  z-index: 1;
}

.content {
  text-align: center;
  max-width: 900px;
  color: white;
}

.title {
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #221203;
  text-transform: uppercase;
}

.subtitle {
  font-size: 44px;
  font-weight: 400;
  margin-bottom: 3rem;
  color: #221203;
  text-transform: uppercase;
}

.startButton {
  width: 33.33%;
  width: 100%;
  max-width: 500px;
  padding: 30px 60px;
  font-size: 28px;
  font-weight: bold;
  background: #503E24;
  color: #CBB293;
  text-transform: uppercase;
  border: solid #9b8872 3px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
  
  .subtitle {
    font-size: 1.2rem;
  }
}
